In [7]:
import numpy as np
import pandas as pd

In [8]:
#Series : 單欄/一維
s1 = pd.Series([78,82,86,65])
print(s1)

s1 = pd.Series([78,82,86,65], index=list("ABCD"))
#list("ABCD")=['A','B','C','D']
print(s1)
print(s1[0],s1["A"])

s1 = pd.Series({'a':78,'b':82,'c':86,'d':65})
print(s1)

0    78
1    82
2    86
3    65
dtype: int64
A    78
B    82
C    86
D    65
dtype: int64
78 78
a    78
b    82
c    86
d    65
dtype: int64

/tmp/ipykernel_31478/2495710010.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s1[0],s1["A"])

In [9]:
print(s1[0], type(s1[0]))
print(s1['a'], type(s1['a']))#多欄時,這會是二維
print(s1.a, type(s1.a))#多欄時,這會是一維

78 <class 'numpy.int64'>
78 <class 'numpy.int64'>
78 <class 'numpy.int64'>

/tmp/ipykernel_31478/491585184.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s1[0], type(s1[0]))

In [10]:
print(s1+[10])
print(s1[:'c'])#'c'有包含

a    88
b    92
c    96
d    75
dtype: int64
a    78
b    82
c    86
dtype: int64

In [11]:
#DataFrame: 多欄/二維
import pandas as pd

df1 = pd.DataFrame([[11,22,33],
                    [31,32,33],
                    [51,52,53]]
                  )
print(df1)
df1

    0   1   2
0  11  22  33
1  31  32  33
2  51  52  53

    0   1   2
0  11  22  33
1  31  32  33
2  51  52  53

In [15]:
import pandas as pd

df1 = pd.DataFrame([[11,22,33],
                    [31,32,33],
                    [51,52,53]], 
                   index= ["X","Y","Z"], #list("ABC")
                   columns=['a1','b1','c1']
                  )
print(df1)
print(df1['a1'])#以欄為主
print('-------------')
# print(df1['Z'])#無法讀取row
print('-------------')
print(df1['a1':'c1'])#Empty無法讀取資料

   a1  b1  c1
X  11  22  33
Y  31  32  33
Z  51  52  53
X    11
Y    31
Z    51
Name: a1, dtype: int64
-------------
-------------
Empty DataFrame
Columns: [a1, b1, c1]
Index: []

In [17]:

df2 = pd.DataFrame({'name':['JOE',"MARY","BEN"],
                   "score":[82,81,79]},
                  index=list("ABC"))
print(df2)
#print(df2['A'][ "score"])
print('-------------')
print(df2.name)#以欄為主,單欄一維
print(df2['name'])#以欄為主df2['name'],單欄,一維
print(df2[['name']])#以欄為主df2[['name']],多欄,二維
#print(df2[0])
#print(df2['A'][[ "name"]])

   name  score
A   JOE     82
B  MARY     81
C   BEN     79
-------------
A     JOE
B    MARY
C     BEN
Name: name, dtype: object
A     JOE
B    MARY
C     BEN
Name: name, dtype: object
   name
A   JOE
B  MARY
C   BEN

In [18]:

df3 = pd.read_csv("34193e9.csv"
                 ,header=None #不要讓第一筆資料來當標題
                 #, names=['name','no','start-end','step','logo','car_no']
                 )
#預設會抓第一列當欄位名，header=None不要抓第一列，可用names=[]來指定欄位名

df3

      0    1                 2  3      4              5
0  雲林客運  101  斗六棒球場-受天宮-環球科技大學  3  凱勝比亞迪  KGETM3EV-K9DA
1  雲林客運  102       斗六火車站-崙仔集會所  3  凱勝比亞迪  KGETM3EV-K9DA
2  雲林客運  201      高鐵雲林站-雲林科技大學  6  馨盛比亞迪   SYTCITY8E-K9